body {font-family: Arial, Helvetica, sans-serif;
    
}

 .navbar{
    overflow: hidden;
    background-color:#61210B;
    height:90px;
    width: 100%;
} 
.container{  
    height: 100%;
    background-image:url("../images/food.jpg");
    position: relative;
}

 #title{
    color: #fff;
    margin: 10px 0 0 10px;
    font-size: 30px;

}


.breakfast_btn{
    margin-top: 10px;
    background-color: #61210B;
    margin-left: 33%;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color:#fff;
    font-size: 17px;
}
.breakfast_btn:hover{
    background-color: green;
    cursor: pointer;
}
.lunch_btn{
    background-color: #61210B;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color:#fff;
    font-size: 17px;

}
.lunch_btn:hover{
    background-color: green;
    cursor: pointer;
}

.dinner_btn{   
    background-color: #61210B;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border-collapse: collapse;
    color:#fff;
    font-size: 17px; 
}
.dinner_btn:hover{
    background-color: green;
    cursor: pointer;
}

#make{
    margin-top: 380px;
    margin-left: 40%;
    color: #FFFFFF;    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
    overflow: scroll;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
 
 #logout{
     font-size: 20px;
     margin-right: 15px;    
     color: #fff;
     float: right;
     margin-top:-15px;
     cursor: pointer;
 }
 #logout:hover{
     color: rgb(212, 159, 102)
 }

.show {display: block;}     
        

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: auto;
    padding:10px 5px 0 5px;
    overflow: scroll;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.btn_extend{
    float: right;
    margin-left: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

     

@media screen and (max-width:800px) {
    /** for tablets */
    body {
        background-color:burlywood;
    }
    nav{
        width: 90%;
        margin-right:10px;
    }
    
}


@media screen and (max-width:500px) {
    /* for phone */
    body {
        background-color: rgb(192, 212, 192);
    }
    nav{
        width: 90%;
        margin-right:0;
    }
    .navbar a {
        float: none;
        width: 100%;
      }

}